---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";


// // Large breakpoint
// $breakpoint-lg: 400px;


// Color variables
$red: #ED7D18;
$red-small: #FF6600;
// $red: #E74727;
// $red-small: #DC3918;

// Config
$color-dot-accent: $red !default;
$color-text-accent: $red !default;
$color-code: $red-small !default;
$color-nav-link: $red !default;
$color-primary-link: $red !default;


// Import partials from `sass_dir` and set theme here
@import
        "theme-{{ site.theme_color | default: "black" }}.scss"
;


nav a {
        float: left;
        color: black;
        text-align: center;
        padding-top: 1.5vmin;
        padding-bottom: 1.5vmin;
        // padding-left: 16px;
        text-decoration: none;
        font-size: 17px;
        line-height: 1;
      }
      
      /* Change the color of links on hover */
      nav a:hover {
        color: black;
      }
      
      /* Add a color to the active/current link */
      .topnav a.active {
        color: red;
      }
      
      /* Right-aligned section inside the top navigation */
      .topnav-right {
        float: right;
        margin-top: 10px;
      }


.title {
        font-size: 2rem;
}

.px-2 {
        padding-left: 10px;
        padding-right: 10px;
    }

.h0 {
        font-size: 15vmin;
    }

.py-4 {
        padding-top: 4vmin;
        padding-bottom: 4vmin;
    }

.mb-lg-1 {
        // padding-top: 5px;
        padding-bottom: 0px;
        margin-bottom: 0px;
    }

.py-1 {
        // padding-top: 8px;
        padding-bottom: 5px;
    }

.mr-2 {
        margin-right: 2.5vmin;
    }


.container {
        max-width: 52em;
    }

.prose p, .prose ol, .prose ul {
        width: 100%;
    }


// Portfolio
.Portfolio .container {
        max-width: 100%;
        // width: 100px;
        clear: both;
        // text-align: center;

}



.projects {
        max-width: 90em;
        // clear: both;
        text-align: center;
        min-width: 308px;
        // padding-top: 133px;
      }
      
.project {
        float: left;
        // margin: 20px;
        // padding: 20px;
        max-width: 370px;
        min-height: 632px;
        padding: 20px;
        padding-top: 70px;
        // max-width: 320px;
        // height: 320px;
        // border: 1px solid black;
     }

.project img {
        border: 1px solid black;
        margin: 0 10px;
}

.projTitle  {
        text-align: center;
        // font-size:3em;
        margin: 0px;
        padding: 0px;
        height: 30px;
        border: 0px solid black;
      }

      .project h2 {
        margin-top: .25em;
}

.projSubTitle  {
        text-align: center;
        font-size:1em;
        //  height: 22px;
        margin: 0px;
        padding: 0px;
        border: 0px;
      }




@media screen and (min-width: 700px) {

.mr-2 {
        margin-right: 10px;
}


.left {
        // position: absolute; 
        bottom: 0px;
        left: 2vmin;
        margin-bottom: 0px;
}
.right {
        // position: absolute; 
        bottom: 0px;
        right: 2vmin;
        margin-bottom: 10px;
}
    }


// Override's width 100% in theme
@media (max-width: $breakpoint-lg) {
        .sm-width-full { width: auto !important; }
        }